body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #441c5f;
}

.button {
    border: none;
    color: rgb(224, 32, 224);
    padding: 15px 32px;
    text-align: center;
    text-decoration: purple wavy underline;
    display: inline-block;
    font-size: 16px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 4px 2px;
    cursor: pointer;
}

#overlay {
    position: absolute;
    margin: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

#canvas1 { 
    margin: 0;
    border: 3px solid black;
    width: 1350px; /* placeholder value for now */
    height: 650px; /* placeholder value for now */
}